body {
    font-family: 'Open Sans', sans-serif;
    width: min(98%, 756px);
    margin: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    height: 1.75rem;
    vertical-align: middle;
    padding-right: 1rem;
}

.option-name {
    font-size: 1.1rem;
    font-weight: 500;
}

.input-row{

}

.output-row{

}

input {
    font-size: 1rem;
}

select {
    font-size: 1rem;
}